*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
}

.navSection{
    height: 100px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.navLeft{
    width: 32%;
    background-color: #4277bd;
}

.navRight{
    width: 67%;
    background-color: #808080;
    
}

.heroSection{
    height: 300px;
    margin: 10px;
    background-color: #505050;
}

.featureSection{
    height: 200px;
    margin: 5px;
    display: flex;
}

.features{
    width: 33%;
    background-color: #90afd8;
    margin: 0 5px;
}

.testimonial{
    height: 200px;
    background-color: #808080;
    margin: 10px;
}

/* For Responsiveness */
/* Tablet */
@media screen and (max-width: 768px) {
    .navSection {
      height: 50px;
    }

    .heroSection{
        height: 100px;
    }

    .featureSection{
        height: 150px ;
    }

  }

  /* Mobile */
  @media screen and (max-width: 476px) {
    .featureSection{
        flex-direction: column;
        margin: 10px;
        height: auto;

    }    

    .features{
        width: 100%;
        height: 100px;
        background-color: #90afd8;
        margin: 5px 0;
    
    }
  }