*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    width: 100vw;
    margin: 5px;
}

.navLeft{
    width: 35vw;
    height: 100px;
    margin: 5px;
    background-color: #4277bd;
}

.navRight{
    background-color: #808080;
    width: 60vw;
    height: 100px;
    margin: 5px;
}

.heroSection{
    height: 40vh;
    margin: 10px;
    background-color: #505050;
}

.featureSection{
    height: 40vh;
    margin: 10px;
    background-color: #505050;
    display: flex;
}

.features{
    
}