*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
}

.nav{
    background-color: #808080;
    height: 100px;
    display: flex;
    margin: 10px;
}

.navLeft{
    height: 100px;
    background-color: #4277bd;
}

.navRight{
    background-color: #808080;
    margin: 5px;
}

.heroSection{
    height: 40vh;
    margin: 10px;
    background-color: #505050;
}

.featureSection{
    height: 40vh;
    margin: 10px;
    display: flex;
}

.features{
    width: 33%;
    background-color: #90afd8;
    margin: 0 5px;
}